[submodule ".registry"]
	path = .registry
	url = https://github.com/kcf-jackson/kcf-jackson.r-universe.dev
	branch = HEAD
[submodule "animate"]
	path = animate
	url = https://github.com/kcf-jackson/animate
[submodule "sketch"]
	path = sketch
	url = https://github.com/kcf-jackson/sketch
